# NiDB configuration file
# ------------------------------------------------------------------------------
# NIDB nidb.cfg
# Copyright (C) 2004-2016
# Gregory A Book (gregory.book@hhchealth.org) (gbook@gbook.org)
# Olin Neuropsychiatry Research Center, Hartford Hospital
# ------------------------------------------------------------------------------
# GPLv3 License:
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see http://www.gnu.org/licenses/.
# ------------------------------------------------------------------------------

# ----- Debug -----
[debug] = 0

# ----- Database -----
[mysqlhost] = localhost
[mysqldatabase] = nidb
[mysqluser] = nidb
[mysqlpassword] = password
[mysqldevhost] = localhost
[mysqldevdatabase] = nidb
[mysqldevuser] = nidb
[mysqldevpassword] = password

# ----- E-mail -----
# emaillib options (case-sensitive): Net-SMTP-TLS (default), Email-Send-SMTP-Gmail
[emaillib] = Email-Send-SMTP-Gmail
[emailusername] = sample@gmail.com
[emailpassword] = password
[emailserver] = smtp.gmail.com
[emailport] = 587
[emailfrom] = sample@email.com
[adminemail] = sample@email.com

# ----- Site/server options -----
[siteurl] = http://localhost
[usecluster] = 1
[queuename] = queue
[queueuser] = nidb
[clustersubmithost] = compute1
[qsubpath] = qsub # full path to the qsub executable
[version] = 5.6.0
[sitename] = NiDB 
[sitenamedev] = NiDB (DEV)
[sitecolor] = #ed5e4e
[ispublic] = 0
[sitetype] = local
[allowphi] = 1

# ----- CAS authentication -----
[enablecas] = 0
[casserver] = login.domain.edu
[casport] = 443
[cascontext] = cas

# ----- local FTP info -----
[localftphostname] = hostname
[localftpusername] = username
[localftppassword] = password

# ----- Directories (alphabetical list) -----
[analysisdir] = /mount/home/nidb/pipeline
[groupanalysisdir] = /mount/home/nidb/pipelinegroup
[archivedir] = /home/nidb/archive
[backupdir] = /home/nidb/backup
[ftpdir] = /home/nidb/ftp
[importdir] = /home/nidb/dicomimport
[incomingdir] = /home/nidb/dicomincoming
[incoming2dir] = /home/nidb/nondicomincoming
[lockdir] = /home/nidb/programs/lock
[logdir] = /home/nidb/programs/logs
[mountdir] = /mount
[packageimportdir] = /home/nidb/packageimport
[qcmoduledir] = /home/nidb/programs/qcmodules
[problemdir] = /home/nidb/problem
[scriptdir] = /home/nidb/programs
[webdir] = /var/www/html/download
[webdownloaddir] = 
[downloaddir] = /home/nidb/download
[uploadeddir] = /home/nidb/upload
[tmpdir] = /tmp
[deleteddir] = /home/nidb/deleted
