.bluetabs{
/*border-bottom: 1px solid gray;*/
}

.bluetabs ul{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
/*font-weight: bold; */
font-size: 11pt;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.bluetabs li{
display: inline;
margin: 0;
}

.bluetabs li a{
text-decoration: none;
padding: 3px 7px;
margin-right: -5px;
margin-left: 0px;
/*border: 1px solid #778;*/
color: white;
background-color: ;
border-radius: 3px;
/*background: white url(media/bluetab.gif) top left repeat-x; /*THEME CHANGE HERE*/
}

.bluetabs li a:visited{
color: white;
}

.bluetabs li a:hover{
text-decoration: none;
color: #FFFFFF;
background-color: 204477;
}

.bluetabs li.selected{
}

.bluetabs li.selected a{ /*selected main tab style */
/*background-image: url(media/bluetabactive.gif); /*THEME CHANGE HERE*/
color: #FFFFFF;
background-color: #204477;
/*border-bottom-color: white;*/
}

.bluetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv_b{
position:absolute;
top: 0;
/*border: 1px solid #888; /*THEME CHANGE HERE*/
/*border-width: 0 1px;*/
box-shadow: 3px 3px 3px #333;
border-radius: 4px;
font-size: 11pt;
line-height:18px;
z-index:100;
background-color: 204477;
width: 200px;
visibility: hidden;
}

.dropmenudiv_b a{
width: auto;
display: block;
text-indent: 5px;
/*border: 0 solid #918d8d; /*THEME CHANGE HERE*/
/*border-bottom-width: 1px;*/
padding: 2px 0;
text-decoration: none;
color: white;
}

* html .dropmenudiv_b a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv_b a:hover{ /*THEME CHANGE HERE*/
color: black;
background-color: #D6E0FF;
}