<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>NiDB Server</Name>
	<Version>2019.1.40</Version>
	<Title>NiDB Server Installer</Title>
    <Publisher>NiDB</Publisher>
	<StartMenuDir>NiDB Server</StartMenuDir>
	<TargetDir>/nidb</TargetDir>
	<Logo>squirrel.png</Logo>
	<Watermark>nidb.png</Watermark>
</Installer>
